nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    height: 5rem;
    padding-inline: 1rem;
    position:fixed;
    z-index:200;
    background-color: white;
    width: 100%;
}
.nav-option{
    padding-block: 2px;
    padding-inline: 1rem;
    border-right: 2px solid #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-option{
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.mobile-nav{
    top:5rem;
    left: 0;
    position: fixed;
    width: 100%;
    height: 90vh;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-block: 1.5rem;
}


.patient {
    border-top: 1px solid #d4d4d4; 
}

.option-container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-nav-option{
    text-decoration: none;
    border-bottom: 1px solid #d4d4d4; 
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    color:#666666;
}
.auth-container{
    width:90%;
    border: #d4d4d4;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    
}
.auth-container-2 {
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: white;
    width: 22rem;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.auth{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
}

.auth-button{
    display: flex;
    color:#426be6 !important;
    text-decoration: underline !important;
    gap: 1rem;
}


@media (min-width: 768px) {
    .nav-links {
        position:relative;
        display: flex;
       
    }

    nav{
        padding-inline: 16rem;
    }

    .nav-links a {
        color: #666;
        text-decoration: none;
        font-size: 0.875rem;
    }

}